.hidden {
  display: none !important;
}

span.help-block {
  background: #a81b1b;
  width: 100%;
  display: block;
  color: #e6e4e3;
  line-height: 2em;
  font-size: 0.9em;
  border: 2px solid #343434;
  border-bottom: none;
  border-top: none;
}

form {
  margin: auto;
  max-width: 350px;
}

.youtube-source {
  display: block;
}

label {
  display: block;
  background: #343434;
  color: #e6e4e3;
  padding: 5px 20px;
}

.form-group{
  margin-bottom: 20px;
  text-align: center;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#submit {
  border: none;
  box-shadow: none;
}

input.form-control,
textarea.form-control {
  width: 100%;
  background: #e6e4e3;
  border: 2px solid #343434;
  border-top: none;
  border-bottom: none;
  padding: 5px 20px;
  text-align: center;
}

input.form-control:last-of-type,
textarea.form-control:last-of-type,
#file-source {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom: 2px solid #343434;
}

textarea.form-control {
  text-align: left;
}

#file-source {
  padding: 2px 20px;
}

[name="n_of_participant_runs"]{
  border: none !important;
  border-radius: 0 !important;
  text-align: center !important;
  padding: 5px 20px !important;
}

#source-select {
  background: #444444;
  color: #e6e4e3;
  border: 2px solid #343434;
  border-bottom: none;
  border-top: none;
  padding: 5px 0;
}

#type-select, #loading, #participant-runs, #sound {
  background: #444444;
  color: #e6e4e3;
  border: 2px solid #343434;
  border-top: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-bottom: 5px;
}

#type-select>span, #loading>span, #sound>span {
  margin-right: 10px;
}

#type-select>span:last-of-type, #loading>span:last-of-type, #sound>span:last-of-type, #source-select>span:last-of-type {
  margin-right: 0;
}

#loading label {
  margin-bottom: 5px;
}

#end-messages {  
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#end-messages div{
  text-align: center;
}

.rounded {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom: 2px solid #343434 !important;
}

hr{
  background: #343434;
  border: 0;
  height: 2px;
  margin: 5px 0 3px;
}

/*.intro {
  margin-bottom: 30px;
}
#upload-button {
  width: 100%;
  max-width: 500px;
  margin: auto;
  position: relative;
}
#upload-button #submit {
  width: 100%;
}
.input-area {
  background: #343434;
  display: inline-block;
  border-radius: 12px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  margin: 30px 0;
  width: 100%;
  max-width: 500px;
}
.input-area > input, .input-area > .interactive-area, .input-area > .file-label {
  color: #343434;
  width: 100%;
  font-size: 1em;
  background: #e5e3e2;
  border-radius: 12px;
  border: none;
  padding: 10px 30px;
  text-align: center;
  transition: all 0.3s;
}
.input-area > input.alert, .input-area > .interactive-area.alert, .input-area > .file-label.alert {
  background: #a2423f;
  color: #f5a19e;
}
.input-area > h3 {
  font-weight: 100;
  width: 100%;
  font-size: 1em;
  margin: 0;
  padding: 10px 30px;
  transition: all 0.3s;
  color: #e6e4e3;
}
.button {
  margin: 30px auto;
  display: inline-block;
  background: #343434;
  padding: 10px 30px;
  color: #e6e4e3;
  border-radius: 12px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  transition: all 0.3s;
  border: none;
  backface-visibility: hidden;
  transform: translateZ(0);
  -webkit-font-smoothing: subpixel-antialiased;
  font-size: 1em;
}
.button#annotate {
  margin-top: 0;
}
.button:hover {
  cursor: pointer;
  transform: scale(1.05) translateZ(0);
  backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
  color: #86a3c6;
}
.button:activate, .button:focus {
  transform: scale(1) translateZ(0);
  backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
}
.radio {
  display: inline-block;
  text-align: left;
}
.radio > label {
  display: block;
  margin-bottom: 5px;
}
.radio > label:last-of-type {
  margin-bottom: 0;
}
#file-upload {
  display: none;
}
#file-label:hover {
  cursor: pointer;
}
/* Custom radio buttons
 /* The container */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 4px;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: white;
  border-radius: 5px;
  box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.5);
  transition: all 0.3s;
}
/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}
/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #343434;
}
/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}
#divLoading {
  display: none;
  width: 100%;
  position: absolute;
  top: 30px;
  z-index: 10;
}
.progress {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  box-shadow: none;
  box-sizing: border-box;
  display: block;
  width: 100%;
  line-height: 20px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
  width: auto;
}
@-webkit-keyframes bar {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 500px 0;
  }
}
.bar {
  width: 100%;
  height: 42px;
  border-radius: 10px;
  animation-delay: 0s;
  animation-direction: normal;
  animation-duration: 2s;
  animation-fill-mode: none;
  animation-iteration-count: infinite;
  animation-name: bar;
  animation-play-state: running;
  animation-timing-function: linear;
  background-color: #e5e3e2;
  background-image: linear-gradient(90deg, #e5e3e2 50%, #343434 0%);
  background-size: 100%;
  box-sizing: border-box;
  color: #333;
  display: block;
}

