.out-of-order {
  position: absolute;
  z-index: 10;
  top: calc(50% - 10px);
  left: 50%;
  transform: translate(-50%, -50%);
  background: #343434;
  width: 100%;
  padding: 10px;
  opacity: 0;
  transition: all 0.3s;
}
.nav-container:hover .nav-img .out-of-order {
  opacity: 1;
}
#main-content {
  min-height: 100vh;
  background: url(../img/bg.svg) no-repeat bottom;
  background-size: contain;
}
#main-content > .inner {
  width: 100%;
  padding: 0;
  justify-content: space-between;
}
.nav-container {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  position: relative;
  background: #343434;
  color: #e6e4e3;
  width: 340px;
  height: 200px;
  border-radius: 20px;
  text-align: center;
  transition: transform 0.3s;
}
.nav-container > h3 {
  font-weight: 100;
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 1.3em;
  height: 50px;
  margin: 0;
  line-height: 45px;
  transition: color 0.3s;
}
.nav-container > .nav-icon {
  position: absolute;
  width: 60px;
  height: 60px;
  border-bottom: 60px solid transparent;
  border-left: 60px solid transparent;
  bottom: 50px;
  right: 0;
}
.nav-container > .nav-img {
  width: 340px;
  height: 150px;
  border-radius: 20px;
}
.nav-container > .nav-img > img {
  width: 100%;
  border-radius: 20px;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  transition: all 0.3s;
}
.nav-container:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.nav-container:hover > h3 {
  color: #86a3c6;
  cursor: pointer;
}
.nav-container:hover > .nav-img > img {
  filter: grayscale(0);
  -webkit-filter: grayscale(0);
  /* Safari 6.0 - 9.0 */
}
.nav-container:hover > .nav-img > img.soon {
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
  /* Safari 6.0 - 9.0 */
}
.nav-container.soon:hover * {
  cursor: wait;
}
#cookie_notice {
  position: fixed;
  z-index: 9999;
  color: #e6e4e3;
  background: #343434;
  width: 500px;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 0px 20px 10px rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
  transition: opacity 0.3s;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
}
#cookie_notice:hover {
  cursor: default;
}
#cookie_notice > button {
  color: #e6e4e3;
  background: none;
  border: 4px solid #e6e4e3;
  font-weight: bold;
  padding: 5px 20px;
  border-radius: 30px;
  transition: color 0.3s, background 0.3s;
}
#cookie_notice > button:hover {
  cursor: pointer;
  color: #343434;
  background: #e6e4e3;
}
#cookie_wall {
  background: rgba(0, 0, 0, 0.75);
  height: 100vh;
  width: 100vw;
  position: fixed;
  overflow: hidden;
  z-index: 999;
  transition: opacity 0.3s;
  right: 0;
  top: 0;
}
.hidden {
  opacity: 0;
}
